version: '3.8'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: bravo-api-prod
    env_file:
      - .env.production
    ports:
      - 3333:3333
    network_mode: "host"
